* {
    font-family: var(--global-font);
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: grid;
    position: relative;
}

#logo a {
    margin-left: 0;
    font-size: 1.5rem;
}

#logo img {
    height: 2rem;
    width: 2rem;
}

header {
    position: fixed;
    width: 100%;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    margin: 1%;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    position: relative;
    top: 35%;
}

#main > form, #main > #result-form {
    width: 50%;
    height: 2.2rem;
    margin-top: 2rem;
    border: 1.95px solid black;
    border-radius: 12px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main > form input {
    background-color: transparent;
    width: 90%;
    height: 1.6rem;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 1rem;
}

#main > form i {
    font-size: 1.5rem;
    margin-right: 10px
}

#main #result-form {
    margin-top: 1.4rem;
    border: none;
}

#main #result-form.hidden {
    display: none;
} 

#main > #result-form .result-shortened{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 12px;
    border: 1px solid black;

}

#copy, #share {
    border: 1.95px solid black;
    border-radius: 12px;
    height: calc(2.2rem + 4px);
    width: 17%;
    font-weight: 400;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
}

#feedback {
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(228, 222, 222);
    height: 35vh;
    width: 35%;
    place-self: center;
    box-sizing: border-box;
}

#feedback.inactive{
    display: none;
    transition: 1s ease-in-out;
}

#feedback h2 {
    text-align: center;
}

#feedback-form {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

#feedback-form .name-email {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

#feedback-form input  {
    width: 45%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-size: 1rem;
    margin-top: 30px;
}
#feedback-form textarea{
    resize: none;
    height: 9vh;
    margin-top: 30px;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

#feedback-form #send {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: .5px solid black;
    font-weight: 400;
}

#alert {
    height: fit-content;
    width: 100%;
    position: fixed;
    bottom: 12px;
    display: flex;
    justify-content: center;
}
#exit {
    position: relative;
    left: 50%;
    top: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

#feedback-exit{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

#share-popup {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 110%);
    transition: transform 1s ease;
    padding: 0 30px 10px 30px;
    border-radius: 10px;
    height: 25vh;
    width: 31.9%;
    background-color: #e4dede;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    z-index: 999;
}

#share-popup.active {
    transform: translate(-50%, 0);
}

.blurred {
    filter: blur(5px);
}


#share-popup #socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#share-popup #socials > .icons {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 10px;
}

.icons i {
    font-weight: 500;
}

.icons p {
    color: rgb(58, 80, 80);
}
.icons i:hover {
    color: orange;
    scale: 1.3;
    transition: .3s ease-in-out;
    cursor: pointer;
}

#share-popup #socials > .icons p {
    font-size: small;
}


#share-popup h3, h6 {
    text-align: center;
}

#share-popup h6 {
    margin-top: 15px;
    font-weight: 400;
    font-size: 0.8rem;
}


#share-popup .shortened {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#share-popup .shortened > h5 {
    font-weight: 450;
    font-size: .875rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    place-items: center;
    padding-bottom: 12px;
}

footer .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

footer .icons i {
    font-size: 1.4rem;
    color: black;
}

footer a {
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {
    transition: .3s ease-in-out;
    scale: 1.5;
}

#dotted, .button-mobile, #send-button-conteiner{
    display: none;
}




@media only screen and (max-width: 575px) {

    html::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    html {
        font-size: 0.875rem; /* Reduces the base font size for all text */
        overflow: -moz-hidden-unscrollable;
    }

    h1 {
        font-size: 1.5rem; /* 24px */
    }

    h2 {
        font-size: 1.25rem; /* 20px */
    }

    h3 {
        font-size: 1.125rem; /* 18px */
    }

    h4 {
        font-size: 1rem; /* 16px */
    }

    h5 {
        font-size: 0.875rem; /* 14px */
    }

    h6 {
        font-size: 0.75rem; /* 12px */
    }

    header {
        padding: 1% 5% 1% 5%;
        box-sizing: border-box;
    }

    body {
        display: block;
    }

    #dotted {
        display: block;
        font-size: 2rem;
        font-weight: 500;
    }

    #responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 15px;
    }


    #main {
        width: 100%;
        height: 30vh;
        box-sizing: border-box;
        top: 35%;
    }

    #main > form, #main  #result-form {
        width: 90%;
        height: 3rem;
        box-sizing: border-box;
        font-size: 1rem;

    }

    #result-form > .result-shortened {
        width: 100%;
        height: 3rem;
        justify-content: space-between;
        padding-right: 10px;   
        
    }

    #result-form > .result-shortened i {
        font-size: 1.5rem;
    }


    footer {
        display: none;
    }

    #copy, #share {
        display: none;
    }

    .button-mobile {
        display: block;
        border: 1px solid black;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
    }

    .button-mobile > i {
        font-size: 24px;
    }
    #copy-mobile,  #share-mobile {
        position: fixed;
        left: 81%;
    }

    #share-mobile {
        bottom: 30%;
    }

    #copy-mobile {
        bottom: 15%;
    }

    .hidden {
        display: none;
    }

    #send-button-conteiner {
        position: absolute;
        bottom: 3px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 2% 0;
    }

    #send-mobile {
        width: 4.5rem;
        height: 4.5rem;
    }

    #feedback {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 70vh;
        z-index: 99;
        border-radius: 15px;
        transform: translate(0, 0);
        transition: transform .3s ease-in-out;
        overflow: auto;
        background: beige;
    }
    
    #feedback.inactive {
        display: block;
        transform: translate(0, 110%);
    }
    

    #feedback-form {
        height: 100%;
        gap: 15px;
        display: flex;
        padding-top: 40px;
    }
    #feedback-form .name-email{
        flex-direction: column;
        width: 100%;
    }

    #feedback-form textarea {
        height: 15vh;
    }

    #feedback-form input {
        width: 100%;
    }

    #feedback-form .centered-button {
        display: flex;
        justify-content: center;
        padding: 2% 0;
        width: 100%;
        margin-top: 10vh;
    }

    #feedback-form .centered-button #send {
        position: inherit;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
    }

    .result-shortened > #clipboard-mobile {
        display: block !important;
    }
    
}

.result-shortened > #clipboard-mobile {
    display: none;
}
